/****************/
/* RESET */
/****************/

*{
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	box-sizing: border-box;
	font-family: sans-serif;
}
body{
	color: #124;
}

/****************/
/* CONTAINER */
/****************/

.container{
	margin: 0 auto;
}

h1{
	text-align: center;
}

.bg{
	width: 100%;
	color: #fff;
	padding: 20px;
	max-height: 300px;
	background-color: red;
	background-size: cover;
	background-position: center;
	background: url(../img/bg.png);

}

/****************/
/* FORM */
/****************/

form{
	display: flex;
	padding: 10px;
	flex-wrap: wrap;
	margin: 10px auto;
	max-width: 400px;
	flex-direction: row;
	justify-content: space-between;
}

input{
	width: 180px;
	padding: 10px;
	transition: all .5s; 
	margin:  2px 0 10px 0;
	border: 2px solid #124;
}
input:hover{
	border-color: #274b94;
	background-color: #f7f7f7;
}
button{
	width: 100%;
	color: #fff;
	width: 100px;
	padding: 10px;
	cursor: pointer;
	transition: all .5s;
	background-color: #124;
	border: 1px solid #000;
}
button:hover{
	background-color: #274b94;
}


/****************/
/* LETRA */
/****************/

#letra{
	margin: 0 auto;
	max-width: 380px;
	padding: 20px 10px;
}
#letra.ativo{
	text-align: center;
}

/****************************************************************/
/* MOBILE  VERSION */
/****************************************************************/

/****************/
/* FORM */
/****************/
@media (max-width: 700px){
	.container{
		margin: 0 auto;
	}
	.bg{
		max-height: 400px;
	}
	form{
		margin: 15px auto;
		flex-direction: column;
	}
	input{
		width: 100%;
		margin:  2px 0 15px 0;
	}

}